<!DOCTYPE html>
<html lang="fr">
{% load staticfiles %}
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}{% include "_brandname.html" %} :: {% endblock %}</title>

    <!-- Bootstrap Core CSS -->
    <link href={% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    {% block styles %}
    <link href= {% static 'css/blog-home.css' %}" rel="stylesheet">
{% endblock styles %}
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
  {% block navbar %}
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mainNavBar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'home' %}">
                  {% block navbar-brand %}
                  <!--- <img src="{% static 'site/img/logo.png' %}" alt="logo"> --->
                  {% include "_brandname.html" %}
                  {% endblock %}
                </a>
            </div>
              {% block navbar-menu %}

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="mainNavBar">
                <ul class="nav navbar-nav">
                  <li class="active"><a href="{% url 'home' %}"><span class ="glyphicon glyphicon-home"></span> Home</a></li>

                  <!-- drop down menu -->

                  <li class="dropdown">

                      <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class ="glyphicon glyphicon-heart"></span> Clinique<span class="caret"></span></a>
                      <ul class="dropdown-menu">

                          <li><a href="#">Ajouter patient</a></li>
                          <li><a href="#">Ajouter consultation</a></li>
                          <li><a href="#">Ajouter ordonnance</a></li>
                          <li><a href="#">Ajouter certificat</a></li>
                          <li><a href="#">Ajouter arrêt de travail</a></li>

                      </ul>
                  </li>

                  <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class ="glyphicon glyphicon-user"></span> Etage <span class="caret"></span></a>
                      <ul class="dropdown-menu">
                          <li><a href="#">Ajouter admission</a></li>
                          <li><a href="#">Ajouter visite</a></li>
                          <li><a href="#">Ajouter bilan</a></li>
                      </ul>
                  </li>

                  <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class ="glyphicon glyphicon-flash"></span> Bloc<span class="caret"></span></a>
                      <ul class="dropdown-menu">
                          <li><a href="#">Ajouter coronarographie</a></li>
                          <li><a href="#">Ajouter stimulation</a></li>

                      </ul>
                  </li>
                </ul>

              </div>
            <!-- /.navbar-collapse -->
            {% endblock navbar-menu %}
        </div>
        <!-- /.container -->
    </nav>
{% endblock navbar %}

{% block content%}
    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <!-- Blog Entries Column -->
            <div class="col-md-8">

                <h1 class="page-header">
                    Service cardiologie
                    <small>Dr Yahyaoui</small>
                </h1>

                <!-- First Blog Post -->


                <hr>
                <img class="img-responsive" src="http://placehold.it/900x300" alt="">
                <hr>



                <!-- Pager -->
                <ul class="pager">
                    <li class="previous">
                        <a href="#">&larr; Older</a>
                    </li>
                    <li class="next">
                        <a href="#">Newer &rarr;</a>
                    </li>
                </ul>

            </div>
{% endblock content %}
            <!-- Blog Sidebar Widgets Column -->
            <div class="col-md-4">

                <!-- Blog Search Well -->
                <div class="well">
                    <h4>Chercher</h4>
                    <div class="input-group"role="search" action="{% url 'search' %}" method="get" accept-charset="utf-8">
                        <input type="text" class="form-control" placeholder="Search" name="q" id="searchform">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">
                                <span class="glyphicon glyphicon-search"></span>
                        </button>
                        </span>
                    </div>
                    <!-- /.input-group -->
                </div>

                <!-- Blog Categories Well -->
                <div class="well">
                    <h4>Rapports</h4>
                    <div class="row">
                        <div class="col-lg-6">
                            <ul class="list-unstyled">


                                <li><a href="#">Patients</a>
                                </li>
                                <li><a href="#">Consultations</a>
                                </li>
                                <li><a href="#">Rapports</a>
                                </li>
                                <li><a href="#">Stress</a>
                                </li>
                            </ul>
                        </div>
                        <!-- /.col-lg-6 -->
                        <div class="col-lg-6">
                            <ul class="list-unstyled">
                                <li><a href="#">Certificats</a>
                                </li>
                                <li><a href="#">Arrêts de travail</a>
                                </li>
                                <li><a href="#">Stomatologie</a>
                                </li>
                                <li><a href="#">Ordonnances</a>
                                </li>
                            </ul>
                        </div>
                        <!-- /.col-lg-6 -->
                    </div>
                    <!-- /.row -->
                </div>

                <!-- Side Widget Well -->
                <div class="well">
                    <h4>Mon application</h4>
                    <p>Mon application permet de gérer les dossiers médicaux, incluant consultations, rapports médicaux, compte-rendu opératoires ..etc. C'est une version <emph>allégée</emph> de mon application Kardio.</p>
                </div>

            </div>

        </div>
        <!-- /.row -->
{% block footer %}
        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Dr YAHYAOUI Mohamed Kaddour {% now 'Y' %}</p>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->
    {% endblock %}

                        {% block scripts %}
                        <!-- Bootstrap core JavaScript
                             ================================================== -->
                        <!-- Placed at the end of the document so the pages load faster -->
                        <script src="{% static 'js/jquery.min.js' %}"></script>
                        <script src="{% static 'js/bootstrap.min.js' %}"></script>
                        <script src="{% static 'js/blog-home.js' %}"></script>

                        {% endblock scripts %}

</body>

</html>
