<html>

<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />

  <title>Certificat | {{ arret.type_arret }} </title>
  <style>
    body {
      background-color: #f7f7f7;
    }
  </style>
</head>
<body>
  <h1>Certificat médical</h1>
  Je sous-signé Dr Yahyaoui certifie que Mr {{ arret.patient }} nécessite une arrêt de travail de {{ arret.duree }} à compter du {{ arret.arret_date }}.

  <p>dont certificat</p>
</body>
</html>
